@font-face {
    font-family: 'Rossela-Demo';
    src: url('Rossela-Demo.woff2') format('woff2'),
        url('Rossela-Demo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

