
@use './partials/_variables.scss' as *;

@import "bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@font-face {
    font-family: 'Rossela-Demo';
    src: url('./assets/fonts/Rossela-Demo.woff2') format('woff2'),
        url('./assets/fonts/Rossela-Demo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  'Questrial';
    
}